@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Work+Sans:wght@305&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Syne+Mono&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-size: 36pt;
  text-align: center;
}

#swipePanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  transition: top 0.5s ease; 
  padding: 0 10%;
  font-size: 3.5vw;
}

#homePage {
  padding: 20px;
  color: rgb(212, 211, 211, .4);
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  position: fixed;
  font-size: 3.5vw;
  padding: 0 10%;
  z-index: -1;
}

#left-wrapper{
  width: 300px;
  height: 100vh;
  margin-left: 80px;
  padding-top: 10vh;
}

#title{
  font-family: 'Kranky', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: left;
}

#navi-wrapper{
  z-index: 99999;
  margin-top: 50px;
  width: 100%;
  display: flex;
  height: 300px;
  font-family: 'Syne Mono';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  flex-wrap: wrap;
  text-align: left;
}
.navi{
  width: 100%;
  height: 45px;
  cursor: pointer;
  color: #aaa;
}

.image-navi{
  margin-top: 20vh;
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: 5vw;
}

.la-belle aurore-regular {
  font-family: "La Belle Aurore", cursive;
  font-weight: 800;
  font-style: normal;
}

.gallery-container {
  position: relative;
  perspective-origin: center 0;
  height: 100%;
  display: flex;
  perspective: 600px;
  transform-style: preserve-3d;
  margin:0 25vw;
  width: 40vw;

}
.gallery-item {
  position: absolute;
  transform-style: preserve-3d;
  /* transition: .5s; */
  width: 40vw;
  height: 30vw;
  transition: all .07s ease-out;
  transform-origin: bottom center;
}
.gallery-item img{
  width: 40vw;
  height: 30vw;
  object-fit: cover;
}
* { 
  touch-action: pan-y; 
}
.selected{
  color:black
}

@media (max-width: 800px) {
  .image-navi{
    margin-top: 80vh;
    position: absolute;
    width: 100%;
    height: 1vh;
  }
  body, html {
    overflow: auto; 
  }
  #left-wrapper{
    display: flex;
    margin-left: 0;
    margin-top: -5vh;
    flex-wrap: wrap;
    width: 100vw;
  }
  #title{
    margin: 0 auto;
    width: 80vw;
  }
  #navi-wrapper{
    z-index: 99999;
    margin-top: -35vh;
    display: flex;
    height: 300px;
    font-family: 'Syne Mono';
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    flex-wrap: wrap;
    text-align: left;
    width: 80vw;
    margin-left: 17vw;
  }
}